doctype html
html.mdc-typography
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/tinycolorpicker.css')
    link(rel='stylesheet', href='/stylesheets/colors-block.css')
    link(rel='stylesheet', href='https://unpkg.com/material-components-web@0.24.0/dist/material-components-web.min.css')
  body.mdc-typography
    block script
    block content
    script(src='https://unpkg.com/material-components-web@0.24.0/dist/material-components-web.min.js')
    script mdc.autoInit();
    img(src='https://megadash.googleplex.com/tracking/4504726507618304', alt='', height='0', width='0')
