doctype html
html.mdc-typography
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/tinycolorpicker.css')
    link(rel='stylesheet', href='/stylesheets/colors-block.css')
    link(rel='stylesheet', href='https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css')
  body
    block script
    block content
    script(src='https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js')
    script mdc.autoInit();
