// From http://docs.aws.amazon.com/AWSECommerceService/latest/DG/LocaleUS.html
option(value='', disabled, selected) —Select Product Category—
option(value='All') All
option(value='Appliances') Appliances
option(value='ArtsAndCrafts') Arts, Crafts &amp; Sewing
option(value='Automotive') Automotive
option(value='Baby') Baby
option(value='Beauty') Beauty
option(value='Books') Books
option(value='Collectibles') Collectibles &amp; Fine Arts
option(value='Electronics') Electronics
option(value='Fashion') Clothing, Shoes &amp; Jewelry
option(value='FashionBaby') Clothing, Shoes &amp; Jewelry - Baby
option(value='FashionBoys') Clothing, Shoes &amp; Jewelry - Boys
option(value='FashionGirls') Clothing, Shoes &amp; Jewelry - Girls
option(value='FashionMen') Clothing, Shoes &amp; Jewelry - Men
option(value='FashionWomen') Clothing, Shoes &amp; Jewelry - Women
option(value='GiftCards') Gift Cards
option(value='Grocery') Grocery &amp; Gourmet Food
option(value='Handmade') Handmade
option(value='HealthPersonalCare') Health &amp; Personal Care
option(value='HomeGarden') Home &amp; Kitchen
option(value='Industrial') Industrial &amp; Scientific
option(value='KindleStore') Ebooks
option(value='LawnAndGarden') Patio, Lawn &amp; Garden
option(value='Luggage') Luggage &amp; Travel Gear
option(value='Magazines') Magazine Subscriptions
option(value='MobileApps') Apps &amp; Games
option(value='Movies') Movies &amp; TV
option(value='MP3Downloads') Digital Music
option(value='Music') CDs &amp; Vinyl
option(value='MusicalInstruments') Musical Instruments
option(value='OfficeProducts') Office Products
option(value='Pantry') Prime Pantry
option(value='PCHardware') Computers
option(value='PetSupplies') Pet Supplies
option(value='Software') Software
option(value='SportingGoods') Sports &amp; Outdoors
option(value='Tools') Tools &amp; Home Improvement
option(value='Toys') Toys &amp; Games
option(value='UnboxVideo') Streaming Video
option(value='Vehicles') Vehicles
option(value='VideoGames') Video Games
option(value='Wine') Wine
option(value='Wireless') Cell Phones &amp; Accessories
