
extends layout

block content
  console.log(result)
  h1 Your Progressive Web App Demo is ready
  a(href='https://pwassemble.herokuapp.com/?id=' + result.id)= 'https://pwassemble.herokuapp.com/?id=' + result.id
