.logo {
  vertical-align: middle;
  margin-right: .5rem;
}

.colorpicker-image {
  width: 100%;
  max-width: 500px;
}

.text-decoration-none {
  text-decoration: none;
  color: initial;
  cursor: pointer;
}

.space {
  margin: 1rem 0 1rem 0;
}

fieldset {
  margin-bottom: 1rem;
}
